<form action="/users/profile" method="get">
  <input type="submit" name="profile" value="Home">
</form><br>
<br>
<form action="/posts/new" method="post">
  <input type="text" name="content" value="What's on your mind?">
  <input type="submit" value="Post">
</form>

<% Post.all.each do |post| %>
<p><%= "#{User.find(post.user_id).first_name} #{User.find(post.user_id).last_name}" %> </p>
<p><%= "#{post.content}" %> </p>
<form action="/likes/<%="#{post.id}"%>" method="post">
  <input type="submit" name="like" value="View Likes">
</form>
<form action="/likes/new/<%="#{post.id}"%>" method="post">
  <input type="submit" name="like" value="Like">
</form>
<form action="/likes/delete/<%="#{post.id}"%>" method="post">
  <input type="submit" name="like" value="Unlike">
</form>
<form action="/posts/edit/<%="#{post.id}"%>" method="get">
  <input type="submit" name="edit" value="Edit">
</form><br>
<p>----------------------------------</p>
<% end %>
